<countdown [auto]="auto" [time]="time1" [units]="seconds" key="countdown_time1_key" (changed)="ts1=$event">
  {{ts1?.seconds}}
</countdown>
<br/>

<countdown [auto]="auto" [time]="time2" (changed)="ts2=$event">
 <span *ngIf="ts2">{{ts2.hours}}:{{ts2.minutes}}:{{ts2.seconds}}</span>
</countdown>
<br/>

<countdown #countdown="countdown" [units]="seconds" (started)="onStart($event)" (changed)="ts3=$event">
  <span *ngIf="started" class="countdown">{{ts3.seconds}}</span>
  <button *ngIf="!started" (click)="countdown.start(time(10))">start from 10</button>
  <button *ngIf="started" (click)="countdown.stop()">stop time</button>
  <button *ngIf="started" (click)="countdown.restart(time(3))">restart from 3</button>
</countdown>